@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input[type="number"] {
  width: 60px;
  /* min-width: 60px; */
  background-color: whitesmoke;
}

/*add up down buttons to numeric input*/
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.form-field-title {
  flex-basis: 50%;
  align-items: flex-end;
}

.form-field {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  margin-bottom: 10px; /* Adjust the spacing between fields as needed */
}

.form-field label {
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust the spacing between labels and inputs */
}

.form-field input {
  flex: 1;
}
